

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
/* end Global Rules */  

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}



html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  font-family: "Segoe UI";
}

/* Start Variables */
:root {
  --main-color:#10CAB7;
  --secondary-color:#2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --paragraph-color: #777;
  --main-transition: 0.5s ease;
}
  /* End Variables */

  /* Standard Media */
@media all and (max-width: 575px)  {}
@media all and (min-width: 576px) and (max-width: 767px){}
@media all and (min-width: 768px) and (max-width: 991px){}
@media all and (min-width: 992px) and (max-width: 1199px){}
@media all and (min-width: 1200px) {}

section {
  margin-top: 100px ;
  margin-bottom: 100px ;
}





/* Todo Home section */
.home {
  position: relative;
  position: relative;
  background-image: url(../image/6.jpg);
  background-position: top center;
  background-size: cover;
  /* background-attachment: fixed; */
}
.home::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(192, 31, 31, 0.623);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.parent{
  position: relative;
  z-index: 999;
}
.parent aside{
  width: 200px;
  height: 100%;
  padding: 20px 30px;
  background-color: rgb(23, 24, 23);
  text-align: center;
  position: absolute;
  left: -200px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.parent aside #exitNav{
  font-size: 40px;
  text-transform: none;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.parent aside ul li {
  margin: 20px 0px;
}
.parent aside ul li a{
  font-size: 20px;
  font-weight: bold;
  color: white;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.parent aside #exitNav:hover,
.parent aside ul li a:hover{
  color: rgb(231, 3, 3);
}
.parent aside p{
  position: relative;
  left: 60px;
  color: white;
  cursor: pointer;
  text-transform: none;
}
.parent aside #openNav{
  right: -160px;
  cursor: pointer;
  width: 200px ;
  height: 50px;
  color: white;
  font-size: 30px;
}
.parent .title{
  width: 75%;
  height:70vh;
  color: white;
}
.parent .title p{
  margin-top: -20px;
  font-size: 18px;
  letter-spacing: 5px;
}





/* Todo slider Down section */
#sliderDown .container .sliderHome .col-md-8 {
  background-color: rgba(0, 0, 0, 0.274);
}
#sliderDown .container h3{
  background-color: #e68285;
  padding: 10px;
  cursor: pointer;
  color: white;
  /* margin: 0px; */
}
#sliderDown .container .text{
  /* padding: 20px; */
  display: none;
  line-height: 2;
}




/* Todo counter section */
#count {
  height: 400px;
  background-image: url(../image/invitation-2508607__340.jpg);
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
#count .layerCounter{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(180, 32, 32, 0.664);
}
#count #countTimer{
  color: white;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

@media all and (max-width: 992px){
  #count #countTimer{
    font-size: 40px;
    text-align: center;
  }
}



/* #count .layerCounter span{
  display: inline-flex;
  width: 250px;
  height: 150px;
  border: 2px solid white;
  font-size: 50px;
  font-weight: bold;
  margin: 0px 50px;
  color: white;
  justify-content: center;
  align-items: center;
} */


/* Todo Footer Section */
.text-title {
  font-size: 15px;
  letter-spacing: 2px;
}
footer button {
  font-size: 16px !important;
  padding: 10px 30px !important;
  text-transform: uppercase;
}
footer .socialIcon span{
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
footer .socialIcon span:hover {
  background-color: #dc3545;
}
footer .socialIcon span:hover i{
  color: white ;
}
@media all and (max-width: 992px){
  .container {
    text-align: center ;
  }
}